name: Tests

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  unit:
    name: PHPUnit tests - PHP ${{ matrix.php }} ${{ matrix.operating-system }}
    strategy:
      matrix:
        operating-system: [ubuntu-latest]
        php: ['8.4']
    runs-on: ${{ matrix.operating-system }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup php
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}

      - name: Download dependencies
        uses: php-actions/composer@v6
        with:
          php_version: ${{ matrix.php }}
          args: --ignore-platform-reqs

      - name: Run PHPUnit unit tests
        run: composer test-unit

      - name: Run PHPUnit functional tests
        run: composer test-functional

      - name: Run PHPUnit integration tests
        run: composer test-integration-console

  integration:
    name: Test Docker Image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Download dependencies
        uses: php-actions/composer@v6
        with:
          args: --ignore-platform-reqs

      - name: Setup
        run: composer integration-setup

      - name: Run
        run: composer test-integration-image

      - name: Teardown
        run: composer integration-teardown
